# Cache files and folders
*.cache

# Package Control
/Package Control.last-run
/Package Control.user-ca-bundle
/Package Control.merged-ca-bundle

# Machine-specific SSL bundle
oscrypto-ca-bundle.crt

# Sublime Linter-generated theme files
/SublimeLinter/
